version: '3.8'

services:
  postgres-product:
    image: postgres:15
    environment:
      POSTGRES_DB: productdb
      POSTGRES_USER: productuser
      POSTGRES_PASSWORD: productpass
    ports:
      - "5434:5432"
    volumes:
      - product-data:/var/lib/postgresql/data
    networks:
      - microservices-net

  postgres-order:
    image: postgres:15
    environment:
      POSTGRES_DB: orderdb
      POSTGRES_USER: orderuser
      POSTGRES_PASSWORD: orderpass
    ports:
      - "5433:5432"
    volumes:
      - order-data:/var/lib/postgresql/data
    networks:
      - microservices-net

  keycloak:
    image: quay.io/keycloak/keycloak:23.0
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres-keycloak:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak
    command: start-dev --import-realm
    volumes:
      - ./keycloak/microservices-realm.json:/opt/keycloak/data/import/microservices-realm.json
    ports:
      - "8080:8080"
    depends_on:
      - postgres-keycloak
    networks:
      - microservices-net

  postgres-keycloak:
    image: postgres:15
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloak
    volumes:
      - keycloak-data:/var/lib/postgresql/data
    networks:
      - microservices-net

  product-service:
    build: ./product-service
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres-product:5432/productdb
      SPRING_DATASOURCE_USERNAME: productuser
      SPRING_DATASOURCE_PASSWORD: productpass
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI: http://keycloak:8080/realms/microservices/protocol/openid-connect/certs
    ports:
      - "8081:8081"
    depends_on:
      - postgres-product
      - keycloak
    networks:
      - microservices-net

  order-service:
    build: ./order-service
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres-order:5432/orderdb
      SPRING_DATASOURCE_USERNAME: orderuser
      SPRING_DATASOURCE_PASSWORD: orderpass
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI: http://keycloak:8080/realms/microservices/protocol/openid-connect/certs
    ports:
      - "8082:8082"
    depends_on:
      - postgres-order
      - keycloak
      - product-service
    networks:
      - microservices-net

  api-gateway:
    build: ./api-gateway
    ports:
      - "8000:8080"
    extra_hosts:
      - "localhost:host-gateway"
    depends_on:
      - product-service
      - order-service
      - keycloak
    networks:
      - microservices-net

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - api-gateway
    networks:
      - microservices-net

  sonarqube:
    image: sonarqube:latest
    container_name: bouselhdam-sonarqube
    ports:
      - "9000:9000"
    environment:
      - SONAR_ES_BOOTSTRAP_CHECKS_DISABLE=true
    volumes:
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_logs:/opt/sonarqube/logs
      - sonarqube_extensions:/opt/sonarqube/extensions
    networks:
      - microservices-net

volumes:
  product-data:
  order-data:
  keycloak-data:
  sonarqube_data:
  sonarqube_logs:
  sonarqube_extensions:

networks:
  microservices-net:
    driver: bridge
